.icon-48-addresses {
      background-image: url(../images/l_addresses.png);
      padding-left:60px!important;
}

.icon-48-address {
      background-image: url(../images/l_addresses.png);
      padding-left:60px!important;
}

