/*! Guestbook General */
body{
	margin-top              : 30px;
	margin-bottom           : 30px;
	margin-left             : 0px;
	margin-right            : 0px;
	font-family             : Arial,Helvetica,sans-serif;
	font-size               : 13px;
	background				: #909EAB url(images/bg.png);
	text-align				: center;
	color					: 666666;
}

/*! Guestbook Navigation */
nav {
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}


nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	background: -o-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -ms-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-gradient(top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 10px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
		
nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	background: -o-linear-gradient(top, #4f5964 0%, #5f6975 100%);  /*! Updated for IE9+ */
	background: -ms-linear-gradient(top, #4f5964 0%, #5f6975 100%); /*! Updated for IE9+ */
	background: -webkit-gradient(top, #4f5964 0%, #5f6975 100%);
}
			
nav ul li:hover a {
	color: #fff;
}
		
nav ul li a {
	display: block; padding: 15px 23px;
	color: #757575; text-decoration: none;
}
				
nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
		
nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a; position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
				
nav ul ul li a:hover {
	background: #4b545f;
}
		
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

a:link                  { color: #757575; text-decoration:none; }
a:active                { color: #757575; text-decoration:none; }
a:visited               { color: #757575; text-decoration:none; }
a:hover                 { color: #757575; text-decoration:none; }

input[type="button"], input[type="submit"] {
	color: #fff;
	border: 1px solid #43505e;

	/* Background Gradient */
	background: #556270; 
	background: -moz-linear-gradient(top, #556270 0%, #444d57 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556270), color-stop(100%,#444d57)); 
	background: -webkit-linear-gradient(top, #556270 0%,#444d57 100%); 
	background: -o-linear-gradient(top, #556270 0%,#444d57 100%);  /*! Updated for IE9+ */
	background: -ms-linear-gradient(top, #556270 0%,#444d57 100%); /*! Updated for IE9+ */
	background: linear-gradient(to bottom, #556270 0%,#444d57 100%);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556270', endColorstr='#444d57',GradientType=0 );

	/* Box Shadow */
	-moz-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);

	/* Text Shadow */
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 7px 7px 7px 7px;
	min-width: 30px;
	text-align: center;
}

/*! Guestbook Menus */
.message{
	background: #efefef; 
	background: linear-gradient(top, #F8F8F8 0%, #C8C8C8 100%);  
	background: -moz-linear-gradient(top, #F8F8F8 0%, #C8C8C8 100%); 
	background: -webkit-linear-gradient(top, #F8F8F8 0%,#C8C8C8 100%); 
	background: -o-linear-gradient(top, #F8F8F8 0%, #C8C8C8 100%);  /*! Updated for IE9+ */
	background: -ms-linear-gradient(top, #F8F8F8 0%, #C8C8C8 100%); /*! Updated for IE9+ */
	background: -webkit-gradient(top, #F8F8F8 0%, #C8C8C8 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#C8C8C8',GradientType=0 ); /* IE6-9 */
	padding: 8px;
	border-radius: 10px;  
	width: 570;
}

#field{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	padding:7px 7px;
	text-align: left;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}

/* Pagination */

.pagination{
	margin: 5px auto;
	padding: 12px 0;
	text-align: center;
}

.pagination a{ 
	border:solid 1px #505C69; 
	background-color: #505C69;
	color: #FFFFFF;  
	margin-right:2px; 
}

.pagination span{ 
	border:solid 1px #ddd; 
	margin-right:2px; 
}

.pagination .active{
	border:solid 1px #e0e0e0; 
	color:#000; 
	font-weight:bold;  
}

.pagination a:link, .pagination a:visited{
	padding:6px 10px; 
	text-decoration:none; 
}

.pagination span{ 
	color:#505C69; 
	padding:6px 10px; 
	text-decoration:none; 
}

.pagination a:hover{ 
	border:solid 1px #b2b2b2; 
	background-color: #6D7E8E;
}

.pagination  .current{ 
	border:solid 1px #b2b2b2; 
	background-color: #6D7E8E;
}

/* Footer */

.footer
{
	font-family:verdana;
	font-size:12px;
	font-style:italic;
	color:#EFEFEF;
}
