.icon-48-links {
      background-image: url(../images/l_links.png);
      padding-left:60px!important;
}

.icon-48-link {
      background-image: url(../images/l_links.png);
      padding-left:60px!important;
}

.icon-48-categories {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-category {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

